:root {
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --modal-background: #ffffff;
  --text-color: #000000;
  --text-color-white: #ffffff;
  --secondary-text-color: #ff6b08;
  --background-btn: #ff6b01;

  --animation-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
