.film-card {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1024px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.film-card:not(:first-child) {
  @media screen and(max-width: 767px) {
    margin-top: 20px;
  }
}

.film-thumbs {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.film-card___container:hover .film-thumbs {
  transform: scale(1.15);
  cursor: pointer;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(99, 4, 224), 0 0 40px hsl(221, 98%, 50%),
    0 0 70px #154afa, 0 0 80px #8d05c4, 0 0 150px #00ff00, 0 0 15px rgba(199, 253, 3, 0.25);
}
.film-card___container:hover .film-text-wrapper {
  opacity: 0;
}

.film-thumbs {
  height: 402px;
  @media screen and(min-width: 768px) {
    height: 398px;
  }
}

.film-img {
  width: 100%;
  height: 100%;
}

.film-text-wrapper {
  padding-top: 10px;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  text-transform: uppercase;
  color: var(text-color);
}

.film-box {
  display: flex;
  margin-top: 4px;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  color: var(--secondary-text-color);
}

.release-date {
  position: relative;
  margin-left: 8px;
}

.release-date::before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 11px;
  top: 2px;
  right: 29px;
  background-color: var(--secondary-text-color);
}

.rating {
  margin-left: 10px;
  padding: 3px, 0;
  min-width: 36px;
  text-align: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: #ffffff;

  background-color: var(--secondary-text-color);
  border-radius: 5px;
}
