<div class="footer-modal footer-backdrop is-hidden" data-backdrop>
  <div class="footer_modal is-hidden">
    <!-- <button class="footer-button" data-action="close-modal"> -->
    <span class="material-icons close"> clear </span>

    <!-- </button> -->
    <div class="team-container">
      <h2 class="footer-title">Project team</h2>
      <ul class="team-list">
        <li class="team-card">
          <div class="team-member">
            <img class="foto" src="./images/foto2.jpg" alt="img" width="220" height="250" />
            <h3 class="team-name">Antonina Muravska</h3>
            <p class="prof">Team Lead</p>
            <ul class="social-links">
              <li class="socail-link">
                <a href="https://github.com/AntoninaMuravska">
                  <svg width="30" height="30">
                    <use href="./images/github.svg#github"></use>
                  </svg>
                </a>
              </li>
              <li class="socail-link">
                <a href="mailto: at.tonya@gmail.com">
                  <svg width="30" height="30">
                    <use href="./images/email.svg#email"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-card">
          <div class="team-member">
            <img class="foto" src="./images/foto3.jpg" alt="img" width="220" height="250" />
            <h3 class="team-name">Galyna Syvak</h3>
            <p class="prof">Scrum Master</p>
            <ul class="social-links">
              <li class="socail-link">
                <a href="https://github.com/Galina-Syvak">
                  <svg width="30" height="30">
                    <use href="./images/github.svg#github"></use>
                  </svg>
                </a>
              </li>
              <li class="socail-link">
                <a href="mailto: gallinkasyvak@gmail.com">
                  <svg width="30" height="30">
                    <use href="./images/email.svg#email"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-card">
          <div class="team-member">
            <img class="foto" src="./images/foto1.jpg" alt="img" width="220" height="250" />
            <div>
              <h3 class="team-name">Volodymyr Ruskov</h3>
              <p class="prof">Front-end developer</p>
              <ul class="social-links">
                <li class="socail-link">
                  <a target="_blank" href="https://github.com/vova-rsk">
                    <svg width="30" height="30">
                      <use href="./images/github.svg#github"></use>
                    </svg>
                  </a>
                </li>
                <li class="socail-link">
                  <a href="mailto:vova.ruskov@gmail.com">
                    <svg width="30" height="30">
                      <use href="./images/email.svg#email"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </li>

        <li class="team-card">
          <div class="team-member">
            <img class="foto" src="./images/foto4.jpg" alt="img" width="220" height="250" />
            <h3 class="team-name">Iryna Tar</h3>
            <p class="prof">Front-end developer</p>
            <ul class="social-links">
              <li class="socail-link">
                <a href="https://github.com/TarIryna">
                  <svg width="30" height="30">
                    <use href="./images/github.svg#github"></use>
                  </svg>
                </a>
              </li>
              <li class="socail-link">
                <a href="mailto: tar86irina@gmail.com">
                  <svg width="30" height="30">
                    <use href="./images/email.svg#email"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="team-card">
          <div class="team-member">
            <img class="foto" src="./images/foto5.jpg" alt="img" width="220" height="250" />
            <h3 class="team-name">Maria Kysil</h3>
            <p class="prof">Front-end developer</p>
            <ul class="social-links">
              <li class="socail-link">
                <a href="https://github.com/MariaKysil">
                  <svg width="30" height="30">
                    <use href="./images/github.svg#github"></use>
                  </svg>
                </a>
              </li>
              <li class="socail-link">
                <a href="#">
                  <svg width="30" height="30">
                    <use href="./images/email.svg#email"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
