<div class="modal-movie__backdrop is-hidden modal__overlay" id="modal-movie__description">
  <div class="modal-movie modal-movie__details">
    <button type="button" class="modal-movie__close-btn" data-action="close-modal">
      <svg width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M29.667 12.88L27.787 11l-7.454 7.453L12.88 11 11 12.88l7.453 7.453L11 27.787l1.88 1.88 7.453-7.454 7.454 7.454 1.88-1.88-7.454-7.454 7.454-7.453z"
          fill="#212121"
        />
      </svg>
    </button>
    <div class="modal-movie__info"></div>
  </div>
</div>
