
<header class="header">
    <div class="container">
        <div class="header__nav">
            <div class="logo__container">
                <a href="index.html"><img src="./images/film.svg" alt="logo-filmoteka" width="24px" height="24px"></a>
                <a class="logo" href="index.html">Filmoteka</a>
            </div>
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="index.html">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">my library</a>
                </li>
            </ul>
        </div>
        <div class="header__form">
            <input class="header__input" type="text" name="searchQuery" autocomplete="off"
                placeholder="Поиск фильмов" />
            <button type="submit" class="header__button"></button>
        </div>

    </div>
</header>


