<header class="header">
  <div class="container">
    <div class="header__nav">
      <a class="logo__link" href="index.html">
        <img
          class="logo__img"
          src="./images/film.svg"
          alt="logo-filmoteka"
          width="24"
          height="24"
        />
        <p class="logo">Filmoteka</p>
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <button type="button" class="nav__btn is_active" data-name="home">Home</button>
        </li>
        <li class="nav__item">
          <button type="button" class="nav__btn" data-name="library">my library</button>
        </li>
      </ul>
    </div>

    <div class="home-container">
      <form class="header__form">
        <input
          class="header__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search movies"
        />
        <button type="submit" class="header__button"></button>
        <span class="material-icons clear-input"> clear </span>
      </form>
      <div class="selection-buttons">
        <button type="button" class="gallery-btn trending-btn" data-name="trending-btn">
          Trending
        </button>
        <button type="button" class="gallery-btn popular-btn" data-name="popular-btn">
          Popular
        </button>
        <button type="button" class="gallery-btn toprated-btn" data-name="toprated-btn">
          Top Rated
        </button>
        <button type="button" class="gallery-btn upcoming-btn" data-name="upcoming-btn">
          Upcoming
        </button>
      </div>
    </div>
    <div class="header__library-buttons">
      <button type="button" class="header__library-button btn-first-absolute visually-hidden" data-name="watched">Watched</button>
      <button type="button" class="header__library-button btn-second-absolute visually-hidden" data-name="queue">queue</button>
    </div>
  </div>
</header>
