<header class="header">
  <div class="container">
    <div class="header__nav">

      <div class="logo__container">
        <a href="index.html"
          ><img class="header__logo" src="./images/film.svg" alt="logo-filmoteka" width="24px" height="24px"
        /></a>
        <a class="logo" href="index.html">Filmoteka</a>
      </div>
      
      <a class="logo__link" href="index.html">
        <img
          class="logo__img"
          src="./images/film.svg"
          alt="logo-filmoteka"
          width="24"
          height="24"
        />
        <p class="logo">Filmoteka</p>
      </a>


      <ul class="nav__list">
        <li class="nav__item">
          <button class="nav__btn is_active" href="index.html" data-name="home">Home</button>
        </li>
        <li class="nav__item">
          <button class="nav__btn" href="#" data-name="library">my library</button>
        </li>
      </ul>
    </div>

    <form class="header__form">
      <input
        class="header__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search movies"
      />
      <button type="submit" class="header__button"></button>
      <span class="material-icons clear-input"> clear </span>
    </form>

    <div class="header__library-buttons">
      <button type="submit" class="header__library-button is_invisible" data-name="watched">
        Watched
      </button>
      <button type="submit" class="header__library-button is_invisible" data-name="queue">
        queue
      </button>
    </div>
  </div>
</header>
