<section class="section-gallery">
  <div class="container">
    <div class="selection-buttons">
      <button type="button" class="gallery-btn trending-btn" data-name="trending-btn">Trending</button>
      <button type="button" class="gallery-btn popular-btn" data-name="popular-btn">Popular</button>
      <button type="button" class="gallery-btn toprated-btn" data-name="toprated-btn">Top Rated</button>
      <button type="button" class="gallery-btn upcoming-btn" data-name="upcoming-btn">Upcoming</button>
    </div>
    <ul class="gallery js-gallery"></ul>
    <div id="pagination" class="tui-pagination"></div>
  </div>
</section>
