@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.container {
  margin-left: 71px;
  margin-right: 71px;

  @media screen and (max-width: 320px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
