header {
  position: relative;
}
.team-container {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  color: currentColor;
}
.title {
  font-weight: 500;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.team-title {
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding: 20px;
  box-shadow: 7px 7px 7px 1px #ff6b08;
  &:hover {
    color: var(--secondary-text-color);
  }
}

.footer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-background);
  opacity: 1;
  transition: var(--animation-duration) var(--timing-function);

  @media screen and (max-width: 1023px) {
    overflow-x: scroll;
  }
}
.footer-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.footer-backdrop.is-hidden .footer-modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.footer-modal {
  display: block;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close {
  display: block;
  position: absolute;
  content: '';
  top: 20px;
  right: 20px;
  width: 17px;
  height: 17px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}
.team-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 220px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
  }
}
.team-card:not(:first-child) {
  margin-left: 20px;
  @media screen and (max-width: 367px) {
    margin: 0;
  }
}
.foto {
  width: 220px;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
}
.team-member {
  display: block;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 220px;
  padding-bottom: 10px;
}
.team-member:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 7px 7px 7px 1px #ff6b08;
}

.team-name {
  dislpay: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 20px;
  padding-bottom: 10px;
}
.prof {
  font-weight: 600;
  margin-bottom: 15px;
}

.team-descriprion {
  font-size: 14px;
  height: 50px;
}
.social-links {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  width: 44px;
  height: 44px;
}
.social-link:not(:first-child) {
  margin-left: 10px;
}
.social-links a,
.social-links svg {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  fill: rgb(36, 33, 33);
  padding: 5px;
  transition: color var(--animation-duration) var(--timing-function),
    background-color var(--animation-duration) var(--timing-function),
    border-radius var(--animation-duration) var(--timing-function);
}
.social-links a:hover,
.social-links svg:hover,
.social-links a:focus,
.social-links svg:focus {
  background-color: var(--secondary-text-color);
  border-radius: 50%;
  fill: white;
}
.no-display {
  display: none;
}
