.footer__container {
  padding-bottom: 30px;
  text-align: center;
}

.footer__overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__link {
  display: inline-block;
  font-size: 20px;
  color: #ff6b08;
}

.footer__link:hover,
.footer__link:hover {
  cursor: pointer;
  color: #333333;
}

body.dark-theme .footer__link:hover,
body.dark-theme .footer__link:hover {
  color: #fff;
}